<% if @post.errors.any? %>
	<div class='alert alert-error'>
		<h5>There were some errors </h5>
		<%= @post.errors.full_messages do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</div>
<% end %>
<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :url %>
	<%= f.text_field :url %>
	<br>
	<%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %>