<!--h4>Rails form Helper</h4-->
<% if false %>
	<%= form_tag "/posts" do %>
		<%= label_tag :title , "Input a Title" %>
		<%= text_field_tag :title %>
		<br>
		<%= submit_tag "Create Post", class: "btn btn-primary" %>
	<% end %>
<% end %>

<h4>Rails Model backed form helper </h4>
<%= render 'form' %>